notebooks/model_v5.tpp_train_test_iii_ext.ipynb
notebooks/revision.r2.3.immrep_ext.ipynb
notebooks/nohup*
*nohup*
*.pkl
notebooks/*.pkl
*.DS_store
*.ipynb_checkpoints
*.X.csv
*.y.csv
*.h5ad
*__pycache__
outputs/model_v3/cdr3.conversion.n30.csv
outputs/model_v3/cdr3.conversion.csv
external
outputs/model_comparison/external*
notebooks/identify_validation_peptides.ipynb
notebooks/nohup.py
notebooks/model_v5.compile_external_datasets.ipynb
notebooks/model_v5.tchard_train_test.ipynb
notebooks/model_v5.tpp_train_test_iiia.ipynb
notebooks/model_v5.tpp_train_test_iiib.ipynb
notebooks/model_v5.tpp_train_test_iiic.ipynb
notebooks/revision.r2.6.sensitivityv1_negattempt.ipynb
notebooks/revision.r2.6.sensitivityv2_negattempt.ipynb
notebooks/revision.r2.6.sensitivityv3_negattempt.ipynb
